# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/

# IDE settings
.vscode/
.idea/

# Testing and coverage reports
.coverage
coverage/
htmlcov/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variables
.env